$space: var(--space-3);
$placeholder-color: var(--colors-gray-400);
$input-border-color: var(--colors-gray-200);

@mixin chakra-input {
  height: var(--sizes-10);
  border: 1px solid $input-border-color;
  width: 100%;
  padding-inline-start: $space;
  padding-inline-end: $space;
  outline-offset: 2px;
  transition: var(--transition-property-common) var(--transition-duration-normal);
  outline: transparent solid 2px;
  font-size: var(--fontSizes-md);
  border-radius: var(--radii-md);
  background: white;
  color: var(--colors-gray-800);

  &:hover {
    border-color: var(--colors-gray-300);
  }
  &:focus-visible {
    border-color: rgb(49, 130, 206);
  }
  &::placeholder {
    color: $placeholder-color !important;
  }
}

@mixin chakra-label {
  display: block;
  font-size: var(--fontSizes-md);
  margin-right: var(--space-3);
  margin-bottom: var(--space-2);
  font-weight: var(--fontWeights-small);
  transition: all 0.2s;
  opacity: 1;
}

.chakra-form-help-text {
  margin-top: var(--space-2);
  color: var(--colors-gray-400) !important;
  line-height: var(--lineHeights-normal);
  font-size: 0.8rem;
}

@mixin chakra-button-solid {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: var(--radii-md);
  height: var(--sizes-10);
  min-width: var(--sizes-10);
  font-size: var(--fontSizes-md);
  padding-inline-start: var(--space-4);
  padding-inline-end: var(--space-4);
  color: var(--colors-white);
  background: var(--colors-blue-500);

  &:hover {
    background: var(--colors-blue-600);
  }
  &:active {
    background: var(--colors-blue-700);
  }
  
  &[size="sm"] {
    height: var(--sizes-8);
    min-width: var(--sizes-8);
    padding-inline-start: var(--space-3);
    padding-inline-end: var(--space-3);
    font-size: var(--fontSizes-sm);
  }
}

.chakra-radio {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  cursor: pointer;

  &:hover {
    input[type="radio"] {
      &::before {
        border-color: var(--colors-gray-300);
      }
    }
  }

  input[type="radio"] {
    $size: --sizes-4;

    appearance: none;
    position: relative;
    clip: rect(0px, 0px, 0px, 0px);
    width: var($size);
    height: var($size);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      border: 2px solid;
      border-radius: var(--radii-full);
      width: var($size);
      height: var($size);
      background: white;
      border-color: var(--colors-gray-200);
    }

    &:checked::before {
      background: var(--colors-blue-500);
      border-color: var(--colors-blue-500);
    }

    &:checked::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border-radius: var(--radii-full);
      width: 50%;
      height: 50%;
      background: white;
    }
  }
  
}

.chakra-skeleton {
  border-radius: var(--radii-md);
  border-color: var(--colors-gray-100);
  background: padding-box var(--colors-gray-400);
  animation: 0.8s linear 0s infinite alternate none running;
}

*:focus {
  box-shadow: none !important;
}

html, html.dark {
  background: white;
}

:root {
  --colors-blue-400: #2EBDD1;
  --colors-blue-500: #0aa9bf;
  --colors-blue-600: #0c8898;
  --colors-blue-700: #076875;
  --radii-md: 3px;
}
