$space: var(--space-3);
$placeholder-color: var(--colors-gray-400);
$input-border-color: var(--colors-gray-200);

@mixin chakra-input {
  height: var(--sizes-10);
  border: 1px solid $input-border-color;
  width: 100%;
  padding-inline-start: $space;
  padding-inline-end: $space;
  outline-offset: 2px;
  transition: var(--transition-property-common) var(--transition-duration-normal);
  outline: transparent solid 2px;
  font-size: var(--fontSizes-md);
  border-radius: var(--radii-md);
  background: white;

  &:hover {
    border-color: var(--colors-gray-300);
  }
  &:focus-visible {
    z-index: 1;
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49 130 206) 0 0 0 1px;
  }
  &::placeholder {
    color: $placeholder-color !important;
  }
}

@mixin chakra-label {
  display: block;
  font-size: var(--fontSizes-md);
  margin-right: var(--space-3);
  margin-bottom: var(--space-2);
  font-weight: var(--fontWeights-small);
  transition: all 0.2s;
  opacity: 1;
}

.chakra-form-help-text {
  margin-top: var(--space-2);
  color: var(--colors-gray-400) !important;
  line-height: var(--lineHeights-normal);
  font-size: 0.8rem;
}
